.FavoriteButton {
  margin: 0;
}

.favorites-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.favorites-button:hover {
  background: #f7d9f7;
  box-shadow: #f7d9f7 0px 0px 20px 2px;
  text-shadow: 
    #c0c 0px 0px 6px, 
    #c0c 0px 0px 10px;
  width:200%;
}


