.FavoriteButton {
  margin: 0;
}

.favorites-button {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.favorites-button:hover {
  background: #f7d9f7;
  box-shadow: #f7d9f7 0px 0px 20px 2px;
  text-shadow: 
    #c0c 0px 0px 6px, 
    #c0c 0px 0px 10px;
  width:200%;
}

.favorites-count {
  align-items: center;
  border: 1px solid #f9d500;
  border-radius: 6px;
  color: #f9d500;
  display: flex;
  justify-content: center;
  padding: 0 0.25rem;
  width: 1.5rem;
}


