.CardContainer {
  border: 1px dotted purple;
  display: grid;
	grid-template-columns: repeat(auto-fill, 1fr);
  height: 10rem;
  background: gray;
}

.button-container {
  display: flex;
  justify-content: space-around;
}