.App {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.header {
  display: flex;
  border: 1px solid black;
  height: 25rem;
  justify-content: center;
  align-items: center;
  background: url('../../assets/SWAPI-background.jpg');
  flex-direction: column;

}

.app-title {
  width: 100%;
  height: 17rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  transform: translatex(0%);
  transition: transform 0.2s ease;
  top: 80px;
  bottom: 0px;
  padding-right: 16px;
  height: 5rem;
}

.cat-button {
  height: 3rem;
  width: 12rem;
  background: #000;
  color: #fff;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: 600;
  font-size: 2em;
  padding: 0px;
  padding-left: 0px;
  margin: 16px 0px;
  border-radius: 0px 100px 100px 0px;
  transition: padding 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
}

.cat-button:hover {
  padding:0px 16px 0px 0px;
  color:black;
  border-left: gray double 15px;
  cursor: pointer;
}

.people-button:hover {
  background: #d9ffd9;
  box-shadow: #d9ffd9 0px 0px 20px 2px;
  text-shadow: #0F0 0px 0px 6px, #0F0 0px 0px 10px;
}

.planets-button:hover {
  background:  #ffd9d9;
  box-shadow: #ffd9d9 0px 0px 20px 2px;
  text-shadow: #F00 0px 0px 6px, #F00 0px 0px 10px;
}

.vehicles-button:hover {
  background: #ffffd9;
  box-shadow: #ffffd9 0px 0px 20px 2px;
  text-shadow: #FF0 0px 0px 6px, #FF0 0px 0px 10px;
}

