@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");

@font-face {
  font-family: "STARWARS";
  font-style:normal;
  font-weight:normal;
  src: 
      url("./swapi.ttf") format("truetype"),
      url("./swapi.svg#swapi") format("svg");
}

body {
  background: url('../../assets/SWAPI-background.jpg');
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  align-items: center;
  background: url('../../assets/SWAPI-background.jpg');
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.app-title {
  color: #f9d500;
  font-family: "STARWARS";
  font-size: 10rem;
  margin: 3rem 0 0 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #f9d500;
  -webkit-text-stroke-width: 3px;
}

.title-i {
  -webkit-text-stroke-width: 7px;
}

.error-popup-placeholder {
  height: 2rem; 
  margin: 0 0 3rem; 
}

@media (max-width: 1060px) {
  .app-title {
    font-size: 10rem;
  }
}

@media (max-width: 940px) {
  .cat-button {
    font-size: 1.75rem;
    width: 9rem;
  }
}

@media (max-width: 690px) {
  .app-title {
    font-size: 8rem;
  }
  .title-i {
    -webkit-text-stroke-width: 3px;
  }
}

@media (max-width: 565px) {
  .cat-button {
    font-size: 1.75rem;
    width: 9rem;
  }
  .app-title {
    font-size: 7rem;
  }
}

@media (max-width: 530px) {
  .cat-button {
    font-size: 0.75rem;
    width: 5rem;
  }
}

@media (max-width: 480px) {
  .app-title {
    font-size: 6rem;
  }
}

@media (max-width: 430px) {
  .cat-button {
    width: 4rem;
  }
}

@media (max-width: 405px) {
  .app-title {
    font-size: 4.5rem;
  }
}

@media (max-width: 365px) {
  .cat-button {
    font-size: 0.5rem;
  }
}