@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");

.Card {
  border-radius: 50px;
  /*background: #363535;*/
  background: url('../../assets/swapi_rough_gray.jpg');
  color: white;
  cursor: pointer;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.1rem;
  height: 20rem;
  letter-spacing: 0.1rem;
}

.Card:hover {
  box-shadow: #d9ffd9 0px 0px 15px 2px;
}

.Card-active {
	box-shadow: #d9ffd9 0px 0px 15px 2px;
}

.fav-btn-card-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 2rem;
}

.fav-btn {
	align-items: center;
	border-radius: 50%;
	box-shadow: ;
	cursor: pointer;
	display: flex;
	height: 3.5rem;
	justify-content: center;
	width: 3.5rem;
}

.fav-btn:hover {
  box-shadow: #d9ffd9 0px 0px 20px 2px;
 	border-radius: 50%;
}

.fav-btn:focus {
  outline: 0;
}


.fav-btn-inactive {
	background-color: #FFF;
	border-radius: 50%;
}

.fav-btn-active {
	background-color: #ffdf00;
	border-radius: 50%;
}

.fa-jedi {
	color: #000;
	font-size: 2rem;
}

.card-text {
	margin: 0.5rem 0.75rem;
}

.card-header {
  color: #f9d500;
 	font-weight: 600;
}
