.Card {
  border: 1px dotted blue;
  background: magenta;
  height: 20rem;
}

.fav-btn-card-container {
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;
}

.fav-btn {
	background-color: #FFF;
}

.fav-btn-active {
	background-color: #ffdf00;
}

.fa-jedi {
	color: #000;
}