@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");

.Card {
  border-radius: 10px;
  background: #363535;
  color: white;
  height: 20rem;
  cursor: pointer;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.fav-btn-card-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 2rem;
}

.fav-btn {
	border-radius: 10px;
	cursor: pointer;
	height: 3.5rem;
	width: 3.5rem;
}

.fav-btn-inactive {
	background-color: #FFF;
}

.fav-btn-active {
	background-color: #ffdf00;
}

.fa-jedi {
	color: #000;
	font-size: 2rem;
}

.card-text {
	margin: 0.5rem 0.75rem;
}

.card-header {
	color: red;
	font-weight: 600;
}
