@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One")

.Sidebar {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.Sidebar-hidden {
  display: none;
}

.fade {
  background-image: linear-gradient(0deg, transparent, black 75%);
  min-height: 20vh;
  position: relative;
  top: -25px;
  width: 100%;
  z-index: 1;
}

.star-wars {
  background: url('../../assets/SWAPI-background.jpg');
  color: #feda4a;
  display: flex;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 550%;
  font-weight: 600;
  height: 30rem;
  justify-content: center;
  letter-spacing: 4px;
  line-height: 125%;
  overflow: hidden;
  perspective: 400px;
  position: relative;
  text-align: justify;
  top: -1rem;
  word-spacing: normal;
  z-index: 1;
}

.crawl {
  animation: crawl 90s linear;
  position: relative;
  transform-origin: 50% 100%;
}

.title {
  text-align: center;
}

.film-title {
  font-size: 150%;
  font-weight: 600;
}

@keyframes crawl {
  0% {
    top: 0px;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
