.Sidebar {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.Sidebar-hidden {
  display: none;
}

.star-wars {
  background: url('../../assets/SWAPI-background.jpg');
  color: #f9d500;
  display: flex;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 550%;
  font-weight: 600;
  height: 800px;
  justify-content: center;
  letter-spacing: 4px;
  line-height: 125%;
  perspective: 400px;
  text-align: justify;
  word-spacing: normal;
}

.crawl {
  animation: crawl 60s linear;
  position: relative;
  transform-origin: 50% 100%;
}

.fade {
  background-image: linear-gradient(0deg, transparent, black 75%);
  min-height: 60vh;
  position: relative;
  top: -25px;
  width: 100%;
  z-index: 1;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}











