.Sidebar {
  border: 1px dotted black;
  background: red;
  height: 20rem;

  width: 100%;
  height: 100%;
  /* Hide elements that flow outside the viewable space */
  overflow: hidden;
  /* Black background for the screen */
  background: #000;
}

