.Nav {
  align-items: center;
  bottom: 0px;
  display: flex;
  height: 5rem;
  justify-content: space-around;
  padding-right: 16px;
  top: 80px;
  transform: translatex(0%);
  transition: transform 0.2s ease;
  width: 80%;
}

.nav {
  color: white;
  text-decoration: none;
}

.nav:hover {
  color: #000;
}

.cat-button {
  background: #000;
  border: 1px solid #FFF;
  border-radius: 0px 100px 100px 0px;
  color: #fff;
  cursor: pointer;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  height: 3rem;
  margin: 16px 0px;
  padding: 0px;
  padding-left: 0px;
  width: 12rem;
}

.cat-button-active {
  background-color: #363535;
  box-shadow: #d9ffd9 0px 0px 15px 2px;
}

.cat-button-inactive {
  background-color: #000;
}

.cat-button:hover {
  border-left: gray double 15px;
  color: #000;
  cursor: pointer;
  padding:0px 16px 0px 0px;
}

.cat-button:focus {
  outline: 0;
}

.people-button:hover {
  background: #d9ffd9;
  box-shadow: #d9ffd9 0px 0px 20px 2px;
  text-shadow: 
    #0F0 0px 0px 6px, 
    #0F0 0px 0px 10px;
}

.planets-button:hover {
  background:  #ffd9d9;
  box-shadow: #ffd9d9 0px 0px 20px 2px;
  text-shadow: 
    #F00 0px 0px 6px, 
    #F00 0px 0px 10px;
}

.vehicles-button:hover {
  background: #ffffd9;
  box-shadow: #ffffd9 0px 0px 20px 2px;
  text-shadow: 
    #FF0 0px 0px 6px, 
    #FF0 0px 0px 10px;
}


@media (max-width: 960px) {
  .cat-button {
    font-size: 1.75rem;
    width: 10rem;
  }
}


@media (max-width: 860px) {
  .cat-button {
    font-size: 1.5rem;
    width: 8rem;
  }
  .favorites-count {
    width: 1rem;
  }
}

@media (max-width: 690px) {
  .cat-button {
    font-size: 1.25rem;
    width: 6rem;
  }
  .favorites-count {
    width: 0.5rem;
  }
}

@media (max-width: 530px) {
  .Nav {
    flex-direction: column;
    height: auto;
  }

  .cat-button {
    font-size: 2rem;
    font-weight: 600;
    height: 3rem;
    margin: 8px 0px;
    padding: 0px;
    padding-left: 0px;
    width: 12rem;
  }
}

@media (max-width: 405px) {
  .favorites-count {
    width: 0.5rem;
  }
}